//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

@import "components/autocomplete";

code {
	@include govuk-font($size: 19);
	color: #d13118;
	background-color: govuk-colour("light-grey");
	padding: 0 govuk-spacing(1);
}