//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

@import "components/autocomplete";
@import "components/cards";
@import "components/page-header";
@import "components/summary-list";

.app-\!-display-from-desktop {
	display: none;
	@include govuk-media-query($from: desktop) {
		display: block;
	}
}

.govuk-task-list + [class^="govuk-heading-"] {
	@include govuk-responsive-margin(9, "top");
}

.app-checkboxes--divider .govuk-checkboxes__divider {
	width: 100%;
	border-bottom: 1px solid govuk-functional-colour('border');
	@include govuk-responsive-margin(2, "top");
	@include govuk-responsive-margin(2, "bottom");
}

.app-link-destructive {
	&:link,
	&:visited {
		color: govuk-functional-colour('error');
	}

	&:hover {
		color: govuk-colour("red", $variant: "shade-25");
	}
}

.app-notification-banner--prototype-options {
	background-color: govuk-colour("purple");
	border: 5px solid govuk-colour("purple");
	@include govuk-responsive-margin(9, "top");

	#js-dismiss {
		float: right;
		&:link,
		&:hover,
		&:visited {
			color: govuk-colour("white");
		}
	}

	a { @extend .govuk-link--no-visited-state; }
}