{% extends "layouts/main.html" %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to the list of all prototypes',
    href: '/'
  }) }}
{% endblock %}

{% set title = 'Reaccredit' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        {{ title | safe }}
      </h1>
      <p class="govuk-body-l">Allow accredited operators to reapply for accreditation.</p>



      {% set version = "1" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--yellow govuk-!-margin-left-2',
          text: 'In progress'
        }) }}
      </h2>

      <p>An updated flow based on the initial <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1732027194584/18220cfc3c599d2780f60ad541bfebd51c00a8e1" class="govuk-link" rel="noreferrer noopener" target="_blank">Eviden designs (opens in new tab)</a> for initial accreditation.</p>

      {{ govukButton({
        text: 'View prototype',
        href: 'v'+version+'/?account-accreditation-next=/reaccredit/v'+version+'/&current-site-type=reprocessing&current-site=0&current-material=0'
      }) }}






      {# {% set v1HTML %}
        {% set version = "1" %}
        <p>Information about this version</p>

        <p><a href="#0">View the research outputs on Miro</a>.</p>

        {{ govukButton({
          text: 'View prototype',
          href: '#0'
        }) }}
      {% endset %}

      {{ govukAccordion({
        id: 'previous',
        classes: 'govuk-!-margin-top-9',
        items: [
          {
            heading: {
              html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Researched</strong>'
            },
            content: {
              html: v1HTML
            }
          }
        ]
      }) }} #}

    </div>
  </div>
{% endblock %}

