{% extends "layouts/main.html" %}

{% set title = 'Upload evidence of broadly equivalent standards for '+siteName+' ' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p><a href="https://www.gov.uk/government/publications/receiving-exported-waste-meeting-eu-equivalent-standards/examples-of-equivalent-environmental-standards-for-packaging-batteries-and-weee" class="govuk-link" rel="noreferrer noopener" target="_blank">View examples of broadly equivalent standards (opens in new tab)</a></p>

  {% if uploads | length %}
    <h2 class="govuk-heading-m">
      Uploaded files
    </h2>

    {% set answers = [] %}
    {% for upload in uploads %}
      {% set answers = answers | push ({
        key: {
          html: '<a href="#0">'+(upload.name or 'example.pdf')+'</a>'
        },
        value: {
          html: ('Valid from '+(upload.start | date)+' to '+(upload.end | date)) if upload.date == 'Yes' else '<span class="govuk-hint">No expiry date</span>'
        },
        actions: {
          items: [
            {
              href: 'bes-delete?index='+loop.index0,
              text: 'Delete',
              visuallyHiddenText: ' '+upload.name,
              classes: 'app-link-destructive'
            }
          ]
        }
      }) %}
    {% endfor %}

    {{ govukSummaryList({
      rows: answers
    }) }}

    <h2 class="govuk-heading-m">
      Upload another file
    </h2>
  {% endif %}

  {{ govukFileUpload({
    id: 'bes-file',
    name: 'bes-file',
    label: {
      html: 'Select file',
      classes: 'govuk-label--s'
    },
    hint: {
      text: 'Only PDF, DOC, DOCX, XLS, CSV, PNG, TIF, JPG or MSG files are allowed and they must be smaller than 20MB.'
    },
    javascript: true
  }) }}

  {% set datesHtml %}
    {{ govukDateInput({
      id: 'bes-start',
      namePrefix: 'bes-start',
      fieldset: {
        legend: {
          html: 'Valid from'
        }
      }
    }) }}

    {{ govukDateInput({
      id: 'bes-end',
      namePrefix: 'bes-end',
      fieldset: {
        legend: {
          html: 'Expiry date'
        }
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'bes-date',
    name: 'bes-date',
    classes: 'govuk-radios--small',
    fieldset: {
      legend: {
        html: 'Does the selected file have an expiry date?',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        conditional: {
          html: datesHtml
        }
      },
      {
        html: 'No',
        value: 'No'
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}
  {% if uploads | length %}
    {{ govukButton({
      html: 'Upload file',
      classes: 'govuk-button--secondary'
    }) }}
    <hr class="govuk-section-break govuk-section-break--s">
    {{ govukButton({
      html: 'Save and continue',
      href: 'bes-complete',
      classes: 'govuk-!-margin-top-4'
    }) }}
  {% else %}
    {{ govukButton({
      html: 'Upload file'
    }) }}
  {% endif %}
{% endblock %}