{% extends "layouts/main.html" %}
{% block backLink %}
  {{ govukBackLink({
    html: 'Back to site details',
    href: accountVersion+'material/?current-site-type='+(data['current-site-type'] or 'reprocessing')+'&current-site='+site.id+'&current-material='+material.id
  }) }}
{% endblock %}

{% set title = ('<span class="govuk-caption-xl">'+site.name+'<span class="govuk-visually-hidden">:</span></span> ' if data['current-site-type'] == 'reprocessing' and org['reprocessing-sites'] | length > 1)+material.name+' accreditation' %}

{% block content %}
  <div class="govuk-grid-row">
    {% if data['application-submitted'] %}
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% set html %}
          <h3 class="govuk-notification-banner__heading">
            Application resubmitted to the {{ site.regulator }}
          </h3>
          <p>A confirmation email has been sent to rosina@gws.com (Rosina Campbell).</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}
      </div>
    {% endif %}

    <div class="govuk-grid-column-full">

      <div class="app-page-header">
        <h1 class="govuk-heading-xl">
          {{ title | safe }}
        </h1>

        {{ govukInsetText({
          html: '<p>You can now <a href="apply/task-list">apply for reaccreditation of this material</a>.</p><p>This application need to be completes before 30 September 2026 or the accreditation will lapse.</p>'
        }) if not material.application }}
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if material.application %}
      {{ govukTable({
        caption: 'Application details',
        captionClasses: 'govuk-table__caption--l',
        head: [
          {
            html: 'Period'
          },
          {
            html: 'Due date'
          },
          {
            html: 'Status'
          },
          {
            html: '<span class="govuk-visually-hidden">Action</span>',
            format: 'numeric'
          }
        ],
        rows: [
          [
            {
              html: '2027'
            },
            {
              html: '30 September 2026'
            },
            {
              html: '<strong class="govuk-tag '+('govuk-tag--magenta' if material.application.status == 'Requires resubmission')+('govuk-tag--green' if material.application.status == 'Resubmitted')+'">'+material.application.status+'</strong>'
            },
            {
              html: '<a href="apply/task-list">Review and submit</a>' if material.application.status == 'Requires resubmission' else '<a href="#0">View application</a>',
              format: 'numeric'
            }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-l">
        Current accreditation details
      </h2>
      {% endif %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: 'Accreditation number'
            },
            value: {
              html: material['accreditation-number']
            }
          },
          {
            key: {
              html: 'Status'
            },
            value: {
              html: material['accreditation']
            }
          },
          {
            key: {
              html: 'Expiry date'
            },
            value: {
              html: material['accreditation-expiry'] | date
            }
          },
          {
            key: {
              html: 'Site address'
            },
            value: {
              html: site.address
            }
          },
          {
            key: {
              html: 'Regulator'
            },
            value: {
              html: site.regulator
            }
          },
          {
            key: {
              html: 'Tonnage'
            },
            value: {
              html: material.tonnage
            }
          },
          {
            key: {
              html: 'Authorised users'
            },
            value: {
              html: material.authorised | arrayToGovukList()
            }
          }
        ]
      }) }}


    </div>
  </div>
{% endblock %}
