{% extends "layouts/main.html" %}

{% set title = 'Select overseas reprocessing sites' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p>You can only issue PERNs for waste exported to, and received by, the overseas sites included in your accreditation.</p>

  <p>There is a charge of £328 for each site that you include.</p>

  <p><a href="manage-sites">Manage sites</a> to add more overseas reprocessing sites.</p>


  {# Create empty object for checkboxes #}
  {% set sites = [] %}

  {# Loop through the sites and add into the object #}
  {# html: site.organisation+' ('+site.country+')', #}
  {% for site in org['overseas-sites'] | sort(attribute='organisation') %}
    {% set sites = sites | push (
      {
        html: site.organisation,
        value: site.organisation,
        hint: {
          html: site.address
        }
      }
    ) %}
  {% endfor %}

  {# Setup the checkbox macro and pull in sites object #}
  {{ govukCheckboxes({
    idPrefix: 'overseas-sites',
    name: 'overseas-sites',
    values: data['overseas-sites'],
    classes: 'govuk-checkboxes--small app-checkboxes--divider js-select-all',
    fieldset: {
      legend: {
        html: 'Which sites do you want to include in your application?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: sites
  }) }}
{% endblock %}
