{% extends "layouts/main.html" %}

{% set title = 'Select which overseas sites to add to your accreditation application' %}

{% block questions %}
  {# Create empty object for checkboxes #}
  {% set sites = [] %}

  {# Loop through the sites and add into the object #}
  {# html: site.organisation+' ('+site.country+')', #}
  {% for site in org['overseas-sites'] | sort(attribute='organisation') %}
    {% set sites = sites | push (
      {
        html: site.organisation,
        value: site.organisation,
        hint: {
          html: site.address
        }
      }
    ) %}
  {% endfor %}

  {# Setup the checkbox macro and pull in sites object #}
  {{ govukCheckboxes({
    idPrefix: 'overseas-sites',
    name: 'overseas-sites',
    values: data['overseas-sites'],
    classes: 'govuk-checkboxes--small app-checkboxes--divider js-select-all',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: sites
  }) }}
{% endblock %}
