{% extends "layouts/main.html" %}

{% set title = 'Are you sure you want to withdraw your application?' %}

{% block questions %}
  {% set reasonHtml %}
    {{ govukTextarea({
      id: 'withdraw-reason',
      name: 'withdraw-reason',
      label: {
        text: '[Add reason for withdrawing application]'
      }
    }) }}
  {% endset %}

  {% set hintHtml %}
    <p>Your application will no longer be considered by the regulator. This cannot be undone.</p>

    {% if material.application.status == 'Submitted' %}
      <p>The regulator has not begun considering your application so you will receive a refund.</p>
    {% else %}
      <p>The regulator has begun considering your application so you will not receive a refund.</p>
    {% endif %}
  {% endset %}

  {{ govukRadios({
    idPrefix: 'withdraw',
    name: 'withdraw',
    fieldset: {
      legend: {
        text: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: hintHtml
    },
    items: [
      {
        text: 'Yes',
        value: 'Yes',
        conditional: {
          html: reasonHtml
        }
      },
      {
        text: 'No',
        value: 'No'
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    text: 'Confirm and continue'
  }) }}
{% endblock %}
