{% extends "layouts/main.html" %}

{% set title = 'Are you sure you want to withdraw your application?' %}

{% block questions %}
  {% set reasonHtml %}
    {{ govukTextarea({
      id: 'withdraw-reason',
      name: 'withdraw-reason',
      label: {
        text: 'Add a reason for withdrawing your application'
      }
    }) }}
  {% endset %}

  {% set hintHtml %}
    <p>This action cannot be undone and your application will no longer be considered by the regulator.</p>

    {% if material.application.status == 'Submitted' %}
      <p>Check with your regulator before you confirm this withdrawal, if you have not already.</p>
    {% else %}
      <p>Check with your regulator before you confirm this withdrawal, if you have not already.</p>
    {% endif %}
  {% endset %}

  {{ govukRadios({
    idPrefix: 'withdraw',
    name: 'withdraw',
    fieldset: {
      legend: {
        text: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: hintHtml
    },
    items: [
      {
        text: 'Yes',
        value: 'Yes',
        conditional: {
          html: reasonHtml
        }
      },
      {
        text: 'No',
        value: 'No'
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    text: 'Confirm and continue'
  }) }}
{% endblock %}
