{% extends "layouts/main.html" %}

{% set title = 'Check your answers before you add this overseas site' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: 'Location'
        },
        value: {
          html: data['address']+'<br>'+data['country']+'<br>'+data['lat-long']
        },
        actions: {
          items: [
            {
              href: 'address',
              text: 'Change',
              visuallyHiddenText: ' Location'
            }
          ]
        }
      },
      {
        key: {
          html: 'Site name'
        },
        value: {
          html: data['organisation']
        },
        actions: {
          items: [
            {
              href: 'organisation',
              text: 'Change',
              visuallyHiddenText: ' Organisation name'
            }
          ]
        }
      },
      {
        key: {
          html: 'Contact'
        },
        value: {
          html: data['name']+'<br>'+data['email']+'<br>'+data['phone']
        },
        actions: {
          items: [
            {
              href: 'contact',
              text: 'Change',
              visuallyHiddenText: ' Contact person'
            }
          ]
        }
      },
      {
        key: {
          html: 'Recycling operation carried out'
        },
        value: {
          html: data['recycling-operation']
        },
        actions: {
          items: [
            {
              href: 'recycling-operation',
              text: 'Change',
              visuallyHiddenText: ' Recycling operation carried out at the overseas site'
            }
          ]
        }
      },
      {
        key: {
          html: 'Basel Convention and OECD code 1'
        },
        value: {
          html: data['oecd-code-1']
        },
        actions: {
          items: [
            {
              href: 'oecd-codes',
              text: 'Change',
              visuallyHiddenText: ' Basel Convention and OECD code 1'
            }
          ]
        }
      },
      {
        key: {
          html: 'Basel Convention and OECD code 2 (if applicable)'
        },
        value: {
          html: data['oecd-code-2']
        },
        actions: {
          items: [
            {
              href: 'oecd-codes',
              text: 'Change',
              visuallyHiddenText: ' Basel Convention and OECD code 2 (if applicable)'
            }
          ]
        }
      },
      {
        key: {
          html: 'Basel Convention and OECD code 3 (if applicable)'
        },
        value: {
          html: data['oecd-code-3']
        },
        actions: {
          items: [
            {
              href: 'oecd-codes',
              text: 'Change',
              visuallyHiddenText: ' Basel Convention and OECD code 3 (if applicable)'
            }
          ]
        }
      },
      {
        key: {
          html: 'Arrangements for loads rejected or returned to the UK'
        },
        value: {
          html: data['rejected-loads']
        },
        actions: {
          items: [
            {
              href: 'rejected-loads',
              text: 'Change',
              visuallyHiddenText: ' What are the arrangements in place for loads that are rejected or returned to the UK from this overseas reprocessor?'
            }
          ]
        }
      },
      {
        key: {
          html: 'Export under conditions of export'
        },
        value: {
          html: data['export-conditions']
        },
        actions: {
          items: [
            {
              href: 'accreditation',
              text: 'Change',
              visuallyHiddenText: ' Export under conditions of export? (Steel & Aluminium)'
            }
          ]
        }
      },
      {
        key: {
          html: 'Broadly equivalent documentation required'
        },
        value: {
          html: data['broadly-equivalent-documentation']
        },
        actions: {
          items: [
            {
              href: 'accreditation',
              text: 'Change',
              visuallyHiddenText: ' Broadly equivalent documentation required at application?'
            }
          ]
        }
      },
      {
        key: {
          html: 'Include in reapplication for accreditation'
        },
        value: {
          html: data['include-in-application']
        },
        actions: {
          items: [
            {
              href: 'accreditation',
              text: 'Change',
              visuallyHiddenText: ' Include in application for accreditation?'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: 'Add this site'
    }) }}

    <a class="govuk-link" href="cancel">Cancel</a>
  </div>
{% endblock %}