{% extends "govuk-prototype-kit/layouts/unbranded.html" %}


{# Add email classes to style page #}
{% set htmlClasses = 'app-email' %}
{% set bodyClasses = 'app-email__body' %}


{# Add the title(h1) to page title if it's set, add to each page with:
{% set title = 'Example' %} #}
{% block pageTitle %}
	{{ title | striptags +' –' if title }} Email
{% endblock %}


{# Setup form question pages by default, override by using content block if not needed #}
{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<h1 class="govuk-heading-l">
				{{ title | safe }}
			</h1>

			<div class="email-message">
				<table class="email-message-meta">
					<tbody>
						<tr>
							<th scope="row">From</th>
							<td>
								{{ fromAddress | default(serviceName) | safe }}
							</td>
						</tr>

						<tr>
							<th scope="row">To</th>
							<td>
								{{ toAddress | default('Email address') | safe }}
							</td>
						</tr>

						<tr class="email-message-meta">
							<th scope="row">Subject</th>
							<td>
								{{ subject | default('Email subject') | safe }}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="email-message-body">
					{% block emailBody %}{% endblock %}

					<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

					<p>Do not reply to this email, it&rsquo;s an automatic message from an unmonitored account.</p>

				</div>
			</div>

		</div>
	</div>
{% endblock %}